<div class="row">
  <div class="col-md-6 offset-md-3">

    <h2>ログイン</h2>
    <hr>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'users/shared/error_messages', resource: resource %>
      <div class="form-group">
        <!-- <%= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: "required", placeholder: "メールアドレス", class: "form-control #{"is-invalid" if alert} samazon-login-input" %>
        <% if alert %>
          <span class="samazon-error-message">
            <strong>メールアドレスが正しく無い可能性があります</strong>
          </span>
        <% end %>
      </div>
    
      <div class="form-group">
        <!-- <%= f.label :password %><br /> -->
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", required: "required", class: "form-control #{"is-invalid" if alert} samazon-login-input" %>
        <% if alert %>
          <span class="samazon-error-message">
            <strong>パスワードが正しく無い可能性があります</strong>
          </span>
        <% end %>
      </div>
    
      <!-- <% if devise_mapping.rememberable? %> -->
      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, "次回から自動的にログインする", class: "form-check-label samazon-check-label w-100" %>
        </div>
      </div>
      <!-- <% end %> -->
    
      <div class="form-group">
        <%= f.submit "ログイン", class: "btn mt-3 samazon-submiy-button w-100" %>
      </div>
    
      <%= link_to "パスワードをお忘れの場合", new_user_password_path, class: "btn btn-link mt-3 d-flex justify-content-center samazon-login-text" %>
    <% end %>
    <hr>
    <div class="form-group">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-link mt-3 d-flex justify-content-center samazon-login-text" %>
    </div>
  </div>
</div>


<!-- <%= render "users/shared/links" %> -->
